{% extends "base.html" %}


{% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/teacherFAQ.css"/>
    <title>TeamB2L</title>
{% endblock %}

{% block content %}
    <div id="taskbar">
        <header>Manage {{ course.name }}</header>
        <form action="/logout" method="post" id="loginForm">
            <button id="login" type="submit" value="Log out">Log out
            </button>
        </form>            
        <a href="Inbox%20Teacher.html">
            <input id="mail" type="button" value="Mail"/>
        </a>
    </div>
    <div class="row col-md-10 col-md-offset-1 faqSection">
        <h1>FAQs</h1>

        <div class="row">
            <form class="faqForm col-md-8 col-md-offset-2" action = "/teacher/courses/faq" method="POST">
                <input type="hidden" value={{ course.key.urlsafe() }} name="course_key"/>
                <div class="faqHeader">
                    <input type="text" class="form-control questionField" placeholder="Question" name="question"/>
                </div>
                <div class="faqBody">
                    <textarea type="textarea" name="answer" placeholder="Answer" class="form-control answerField"></textarea>
                    <input type="submit" value="Add New FAQ" class="formButton btn"/>
                </div>
            </form>
        </div>

        <hr/>

        {% for faq in faqs %}
            <div class="row">
                <form class="faqForm col-md-8 col-md-offset-2" action="/teacher/courses/faq" method="POST">
                    <input type="hidden" value={{ faq.key.urlsafe() }} name="faq_key"/>
                    <input type="hidden" value={{ course.key.urlsafe() }} name="course_key"/>
                    <div class="faqHeader">
                        <input type="text" class="form-control questionField" value="{{ faq.question }}" name="question"/>
                    </div>
                    <div class="faqBody">
                        <textarea type="textarea" name="answer" class="form-control answerField">{{ faq.answer }}</textarea>
                        <input type="submit" value="Save" class="formButton btn"/>
                    </div>
                </form>
                <form action="/teacher/courses/faq/delete" method="post">
                    <input type="hidden" value={{ faq.key.urlsafe() }} name="faq_key"/>
                    <input type="hidden" value={{ course.key.urlsafe() }} name="course_key"/>
                    <input type="submit" class="headerButton btn" value="Delete"/>
                </form>
            </div>
        {% endfor %}
    </div>

    <div class="row col-md-10 col-md-offset-1 studentSection">
        <h1>
            Students Enrolled
            <a href="" class="pull-right btn headerButton">Add Students</a>
        </h1>

        <hr/>
    </div>
{% endblock %}