{% extends "base.html" %}

{% block head %}
	<meta charset="utf-8"/>
    <title>TeamB2L - FAQs</title>
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Droid+Sans">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Open+Sans">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/FAQs.css"/>
{% endblock %}

{% block content %}
	<div id="taskbar">
	    <header>FAQ for {{ course.name }}</header>
	    <form action="/login" method="post" id="loginForm">
	        <button id="login" type="submit" value="Login">Login
	        </button>
	    </form>
	</div>
	<h1 id="heading">
	    It's easier to get a 4.0 when you have all the answers
	</h1>
	<div id="questions">
	    <h4>Get simple answers to the most frequently asked questions.</h4>
	</div>

	<div id="answers">
	    {% for faq in faqs %}
	        <div class="answersBar">
	            <div class="questionRepeat">
	                {{ faq.question }}
	            </div>
	            <input class="backToTop" type="button"onclick="location.href='#taskbar'" value="Back to top"/>
	        </div>
	        <div class="answers">
	           {{ faq.answer }}
	        </div>
	    {% endfor %}
	</div>
{% endblock %}