html {
    background-color: rgb(38, 38, 38);
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Droid Sans";
    font-weight: bold;
}

#heading {
    position: relative;
    bottom: 86px;
    color: rgb(225, 196, 92);
}

#taskbar {
    position:absolute;
    height: 35px;
    width: 100%;
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(235, 235, 235);
}

#log {
    margin: 0px 65px;
    position: absolute;
    right: 0px;
    height: 35px;
    width: 90px;
    background-color: rgb(38, 38, 38);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 13px;
    color: rgb(225, 196, 92);
}

.smallTextField {
    margin: 6px 0px;
    height: 20px;
    width: 268px;
    padding: 7px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(38, 38, 38);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 15px;
}

.error {
    color: rgb(245, 0, 0);
}