html {
    background-color: rgb(38, 38, 38);
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    font-family: "Droid Sans";
    font-weight: bold;
}

#taskbar {
    position:absolute;
    height: 35px;
    width: 100%;
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(235, 235, 235);
}

#log {
    margin: 0px 65px;
    position: absolute;
    right: 0px;
    height: 35px;
    width: 90px;
    background-color: rgb(38, 38, 38);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 13px;
    color: rgb(225, 196, 92);