body {
	position: absolute;
	background-color: rgb(38, 38, 38);
	font-family: "Droid Sans";
    font-weight: bold;
    width: 500px;
}

h1 {
	color: rgb(225, 196, 92);
	text-align: center;
}

form {
	width: 410px;
	background-color: rgb(235, 235, 235);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 12px;
    color: rgb(38, 38, 38);
    padding: 20px 40px;
}

#register {
	height: 40px;
    width: 328px;
    background-color: rgb(38, 38, 38);
    border: 2px solid rgb(38, 38, 38);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 16px;
    color: rgb(225, 196, 92);
}
.col-md-3	{
	position: absolute;
	left: 50%;
}