body {
    font-family: "Open Sans";
    color: rgb(235, 235, 235);
    background-color: rgb(38, 38, 38);
}

#taskbar {
    position:absolute;
    height: 45px;
    width: 100%;
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(235, 235, 235);
}

.faqSection {
    padding-top: 60px;
}

h1 {
    color: rgb(225, 196, 92);
}

hr {
    border-color: rgb(225, 196, 92);
}

.headerButton {
    color: rgb(38, 38, 38);
    border: 2px solid;
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 20px;
    background-color: rgb(225, 196, 92);
}

.formButton {
    background-color: rgb(38, 38, 38);
    border: 2px solid rgb(38, 38, 38);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 20px;
    color: rgb(225, 196, 92);
    margin-top: 5px;
}

.formButton:hover {
    color: rgb(225, 196, 92);
}

.faqHeader {
    padding: 10px 20px;
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(19, 19, 19);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    color: rgb(38, 38, 38);
}

.faqBody {
    margin: 0px 0px 40px;
    padding: 10px 20px;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(19, 19, 19);
    border-top: 0;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    font-size: 16px;
    color: rgb(38, 38, 38);
}

.questionField {
    font-family: "Droid Sans";
    font-size: 22px;
}

.answerField {
    font-size: 16px;
    resize: vertical;
}

header {
    margin: 0px 65px;
    float: left;
    color: rgb(38, 38, 38);
    font-family: "Montserrat";
    font-size: 29px;
}

#login {
    margin: 0px 65px;
    position: absolute;
    right: 0px;
    height: 35px;
    width: 90px;
    background-color: rgb(38, 38, 38);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 13px;
    color: rgb(225, 196, 92);
    z-index: 1;
}

#mail {
    margin: 0px 156px;
    position: absolute;
    right: 0px;
    height: 35px;
    width: 90px;
    background-color: rgb(38, 38, 38);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 13px;
    color: rgb(225, 196, 92);
    z-index: 1;
}

#heading {
    margin: 0px 0px 200px;
    position: relative;
    top: 100px;
    font-family: "Droid Sans";
    font-weight: bold;
    color: rgb(225, 196, 92);
}

#questions {
    margin: 100px 0px 940px;
    padding: 0px 20px 20px;
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 12px;
    text-align: center;
    color: rgb(38, 38, 38);
}

#dropdown {
    height: 40px;
    width: 400px;
    padding: 7px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(38, 38, 38);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: "Montserrat";
    font-size: 15px;
    color: rgb(38, 38, 38);
}

#questionButton {
    float: right;
    height: 40px;
    width: 100px;
    background-color: rgb(38, 38, 38);
    border: 2px solid rgb(38, 38, 38);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: "Montserrat";
    font-size: 13px;
    color: rgb(225, 196, 92);
}

#unique {
    position:relative;
    bottom: 920px;
    height: 50px;
    width: 400px;
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 12px;
    font-family: "Montserrat";
    font-size: 15px;
    color: rgb(38, 38, 38);
}

#answers {
    width: 86%;
}

.answersBar {
    min-height: 35px;
    padding: 10px 20px;
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(19, 19, 19);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    color: rgb(38, 38, 38);
}

.questionRepeat {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 35px;
    float:left;
    font-family: "Droid Sans";
    font-size: 22px;
    color: rgb(38, 38, 38);
}

.edit {
    margin: 0px 10px;
    height: 35px;
    width: 50px;
    background-color: rgb(38, 38, 38);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 13px;
    color: rgb(225, 196, 92);
}

.backToTop {
    float: right;
    height: 35px;
    width: 90px;
    background-color: rgb(38, 38, 38);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 13px;
    color: rgb(225, 196, 92);
}

.answers {
    margin: 0px 0px 40px;
    min-height: 35px;
    padding: 10px 20px;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(19, 19, 19);
    border-top: 0;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    font-size: 16px;
    color: rgb(38, 38, 38);
}