{% extends "Inbox Student.html" %}
  
        {% block content %}
        <div id="message">
            <div id="subject">
                Nulla elementum, lacus vitae pulvinar hendrerit, lectus?
            </div>
            <div id="question">
                Maecenas pulvinar bibendum erat. Sed cursus turpis sed nisl malesuada, in porttitor metus euismod. Maecenas blandit rutrum blandit. Mauris et hendrerit ipsum, sed fringilla dui. Vestibulum rhoncus purus at nunc lacinia, id cursus ipsum fringilla. Phasellus convallis, nunc ut dignissim volutpat, arcu odio consectetur quam, ac ultrices lectus orci sed magna. Sed in felis mauris. Sed molestie magna a magna ultrices dignissim sed pellentesque enim. Nam eu justo sed purus imperdiet lobortis?
            </div>
        </div>
        <div id="reply">
            <div id="replySubjectBar">
                <input id="replySubject" type="text" value="Re: Nulla elementum, lacus vitae pulvinar hendrerit, lectus?">
                <input id="send" type="button" value="Send"/>
            </div>
            <div id="responseBox">
                <textarea id="response" value=""/>
            </div>
        </div>
        {% endblock %}
