{% extends "index.html" %}
{% block content %}
<h1>Database Maintenance</h1>
<table id="mine">
    <tr>
    <th bgcolor="black">Teachers</th>
    <th bgcolor="black">Students</th>
    <th bgcolor="black">Class ID's</th> 
<h2>{% for x in range(0, length)%}
        <tr>            
            <td bgcolor="black"><div class = "evens">{{teacherMaster1[x]}}<br></div></td>
            <td bgcolor="blue"><div class = "evens">{{studentMaster1[x]}}<br></div></td>
            <td bgcolor="red"><div class = "evens">{{classMaster1[x]}}<br></div></td>
        </tr>
    {%- endfor %}</h2>
    {{length}}
</table>
{% endblock %}