html {
    background-color: rgb(38, 38, 38);
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(235, 235, 235);
}

#taskbar {
    position: absolute;
    height: 35px;
    width: 100%;
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(235, 235, 235);
}

header {
    margin: 0px 65px;
    float: left;
    font-family: "Montserrat";
    font-size: 29px;
    color: rgb(38, 38, 38);
}

#login {
    margin: 0px 65px;
    position: absolute;
    right: 0px;
    height: 35px;
    width: 90px;
    background-color: rgb(38, 38, 38);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 13px;
    color: rgb(225, 196, 92);
}

#faqs {
    margin: 0px 156px;
    position: absolute;
    right: 0px;
    height: 35px;
    width: 90px;
    background-color: rgb(38, 38, 38);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 13px;
    color: rgb(225, 196, 92);
}

#inbox {
    margin: 20px;
    padding: 40px 23px 15px;
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 12px;
    color: rgb(38, 38, 38);
}

#inboxHeading {
    margin: 100px 0px 0px;
    font-family: "Montserrat";
    font-size: 20px;
    color: rgb(225, 196, 92);
    text-align: center;
}

.mail {
    position: relative;
    bottom: 12px;
    width: 100%;
    height: 25px;
    background-color: rgb(200, 200, 200);
    border: 1px solid rgb(136, 136, 136);
    font-family: "Montserrat";
    font-size: 14px;
    color: rgb(38, 38, 38);
}
#toDo	{
	position:absolute;
	font-family: "Montserrat";
	color: rgb(225, 196, 92);
	border: 1px solid rgb(225, 196, 92);
	top: 45px;
	left: 60px;
	
#classes	{
    font-family: "Montserrat";
    font-size: 13px;
}
}