<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>CLASSES</title>
        <link rel="stylesheet" type="text/css"
              href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" type="text/css" href="styles/Inbox.css"/>        
    </head>
    <body>
        <div id="taskbar">
            <header>Welcome</header>
            <a href="/login">
                <input id="login" type="button" value="Log out"/>
            </a>
          
        </div>
        <h1 id="inboxHeading">CLASSES</h1>
       
            <div id="inbox">
         		<form action="/Inbox Student.html" method="post">
                    <div id="classes">
                    <select name="classes">
                    <option value="361">361</option>
                    <option value="362">362</option>
                    </select>
                    </div>
                    <input type="submit">
                </form>
            </div>

          

    </body>
</html>