<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>CLASSES</title>
        <link rel="stylesheet" type="text/css"
              href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/Inbox.css"/>        
    </head>
    <body>
        <div id="taskbar">
            <header>Welcome {{user.email}} </header>
            <a href="/login">
                <input id="login" type="button" value="Log out"/>
            </a>
          
        </div>
          <h1 id="inboxHeading">CLASSES</h1>
            <div id="inbox">
         		<form action="/student/faq" method="get">
                    <div id="classes">
                        <select name="classes">
                        {% for course in courses %}
                            <option id="classes" value="{{ course.key.urlsafe() }}">{{ course.name }}</option>
                        {%endfor%}
                        </select>
                    </div>
                    <input type="submit" id="register" value="View FAQ"/>
                </form>
            </div>
    </body>
</html>