{% extends "/question/question_base.html" %}

{% block content %}
<div id="reply">
    <form method="post">
        <div id="replySubjectBar">
            <input id="replySubject" type="text" value="{{ subject }}" placeholder="Subject">
        <select id="dropdown">
            {% for course in courses %}
                <option value="{{ course.key }}">{{ course.name }}</option>
            {% endfor %}
        </select>
        <input id="send" type="submit" value="Send"/>
        </div>
        <div id="responseBox">
            <textarea id="response">{{content}}</textarea>
        </div>
        <div class="error">{{error}}</div>
    </form>
</div>
{% endblock %}