{% extends "/question/question_base.html" %}

{% block content %}
    <div id="message">
        <div id="subject">
            {{ question.subject }}
        </div>
        <div id="question">
            {{ question.content }}
        </div>
    </div>
    {% if user.permission != 1 %}
        <form action="post">
            <div id="reply">
                <div id="replySubjectBar">
                    <input id="send" type="submit" value="Send"/>
                </div>
                <div id="responseBox">
                    <textarea id="response" value=""></textarea>
                </div>
            </div>
        </form>
    {% endif %}
{% endblock %}}