<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Question</title>
        <link rel="stylesheet" type="text/css"
              href="https://fonts.googleapis.com/css?family=Droid+Sans">
        <link rel="stylesheet" type="text/css"
              href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" type="text/css"
              href="https://fonts.googleapis.com/css?family=Open+Sans">
        <link rel="stylesheet" type="text/css" href="/assets/stylesheets/question.css"/>
    </head>
    <body>
        <div id="taskbar">
            <header>Questions {% if course_selected != "" %}for {{ course_selected.name }} {% endif %}</header>
            <form action="/logout" method="get" id="loginForm">
                <input id="login" type="submit" value="Log out"/>
            </form>
            <form action="/" method="get">
                <input id="faqs" type="submit" value="Home"/>
            </form>
        </div>
        <div id="inbox">
            <h1 id="inboxHeading">Inbox</h1>
            {% for course in courses %}
                <form action="/question/inbox" method="get">
                    <input type="hidden" name="course" value="{{ course.key.urlsafe() }}"/>
                    <input class="mail" id="compose" type="submit" value="{{ course.name }}"/>
                </form>
            {% endfor %}
        </div>
        {% if course_selected != "" %}
            <div id="message">
                <h1 id="inboxHeading">Students In {{ course_selected.name }}</h1>
                <div id="selectBox">
                    <form action="/question/inbox" method="get">
                        <input type="hidden" name="course" value="{{ course_selected.key.urlsafe() }}"/>
                        <div id="classes">
                            <select name="student">
                            {% for student in students %}
                                <option id="classes" value="{{ student.key.urlsafe() }}">{{ student.email }}</option>
                            {%endfor%}
                            </select>
                        </div>
                        <input type="submit" id="register" value="View Inbox"/>
                    </form>
                </div>
            </div>
        {% endif %}
    </body>
</html>