html {
    background-color: rgb(38, 38, 38);
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Open Sans";
    color: rgb(38, 38, 38);
}

#taskbar {
    position:absolute;
    height: 35px;
    width: 100%;
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(235, 235, 235);
}

#login {
    margin: 0px 65px;
    position: absolute;
    right: 0px;
    height: 35px;
    width: 90px;
    background-color: rgb(38, 38, 38);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 13px;
    color: rgb(225, 196, 92);
}

#mail {
    margin: 0px 156px;
    position: absolute;
    right: 0px;
    height: 35px;
    width: 90px;
    background-color: rgb(38, 38, 38);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 13px;
    color: rgb(225, 196, 92);
}

#heading {
    position: relative;
    top: 100px;
    font-family: "Droid Sans";
    font-weight: bold;
    color: rgb(225, 196, 92);
}

#questions {
    margin: 100px 0px 940px;
    padding: 0px 20px 20px;
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 12px;
    color: rgb(38, 38, 38);
}

#dropdown {
    height: 40px;
    width: 400px;
    padding: 7px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(38, 38, 38);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: "Montserrat";
    font-size: 15px;
    color: black;
}

#questionButton {
    float: right;
    height: 40px;
    width: 100px;
    background-color: rgb(38, 38, 38);
    border: 2px solid rgb(38, 38, 38);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: "Montserrat";
    font-size: 13px;
    color: rgb(225, 196, 92);
}

#unique {
    position:relative;
    bottom: 920px;
    height: 50px;
    width: 400px;
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 12px;
    font-family: "Montserrat";
    font-size: 15px;
    color: rgb(38, 38, 38);
}

#answers {
    width: 86%;
}

.answersBar {
    min-height: 35px;
    padding: 10px 20px;
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(19, 19, 19);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    color: rgb(38, 38, 38);
}

.questionRepeat {
    display: flex;justify-content: center;
    flex-direction: column;
    height: 35px;
    float:left;
    font-family: "Droid Sans";
    font-size: 22px;
}

.backToTop {
    float: right;
    height: 35px;
    width: 90px;
    background-color: rgb(38, 38, 38);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 13px;
    color: rgb(225, 196, 92);
}

.answers {
    margin: 0px 0px 940px;
    min-height: 35px;
    padding: 10px 20px;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(19, 19, 19);
    border-top: 0;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    font-size: 16px;
    color: rgb(38, 38, 38);
}