html {
    background-color: rgb(38, 38, 38);
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(235, 235, 235);
}

#taskbar {
    position: absolute;
    height: 35px;
    width: 100%;
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(235, 235, 235);
}

header {
    margin: 0px 215px;
    float: left;
    font-family: "Montserrat";
    font-size: 29px;
    color: rgb(38, 38, 38);
}

#login {
    position: absolute;
    right: 5%;
    height: 100%;
    width: 5%;
    background-color: rgb(38, 38, 38);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 13px;
    color: rgb(225, 196, 92);
}

#faqs {
    position: absolute;
    right: 10.15%;
    height: 35px;
    width: 5%;
    background-color: rgb(38, 38, 38);
    border: 2px solid rgb(19, 19, 19);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 13px;
    color: rgb(225, 196, 92);
}

#inbox {
    position: absolute;
    left: 0;
    height: 100%;
    width: 10%;
    background-color: rgb(78, 78, 78);
    border-right: 1px solid rgb(38, 38, 38);
}

#inboxHeading {
    position: relative;
    bottom: 6px;
    font-family: "Montserrat";
    font-size: 20px;
    color: rgb(225, 196, 92);
    text-align: center;
}

.mail {
    position: relative;
    bottom: 12px;
    width: 100%;
    height: 25px;
    background-color: rgb(38, 38, 38);
    border: 1px solid rgb(78, 78, 78);
    font-family: "Montserrat";
    font-size: 13px;
    color: rgb(225, 196, 92);
}

#message {
    position: relative;
    top: 100px;
    left: 5%;
    width: 80%;
}

#subject {
    min-height: 35px;
    padding: 14px 20px 4px;
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(19, 19, 19);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
    font-family: "Droid Sans";
    font-size: 23px;
    color: rgb(38, 38, 38);
    
}

#question {
    min-height: 35px;
    padding: 10px 20px;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(19, 19, 19);
    border-top: 0;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    font-family: "Open Sans";
    font-size: 16px;
    color: rgb(38, 38, 38);
}

#reply {
    margin: 130px 0px; 0px;
    position: relative;
    left: 5%;
    width: 80%;
}

#replySubjectBar {
    min-height: 35px;
    padding: 10px 20px;
    background-color: rgb(235, 235, 235);
    border: 2px solid rgb(19, 19, 19);
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

#replySubject {
    display: flex;justify-content: center;
    flex-direction: column;
    width: 55%;
    height: 35px;
    float:left;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(38, 38, 38);
    border-radius: 5px;
    font-family: "Droid Sans";
    font-size: 22px;
    color: rgb(38, 38, 38);
}

#responseBox {
    min-height: 35px;
    padding: 10px 20px;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(19, 19, 19);
    border-top: 0;
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    font-size: 16px;
    color: rgb(38, 38, 38);
}

#dropdown {
    position: relative;
    left: 10px;
    height: 40px;
    width: 400px;
    background-color: rgb(245, 245, 245);
    border: 1px solid rgb(38, 38, 38);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: "Montserrat";
    font-size: 15px;
    color: rgb(38, 38, 38);
}

#questionButton {
    height: 40px;
    width: 150px;
    background-color: rgb(38, 38, 38);
    border: 2px solid rgb(38, 38, 38);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: "Montserrat";
    font-size: 13px;
    color: rgb(225, 196, 92);
}


#send {
    float: right;
    height: 40px;
    width: 100px;
    background-color: rgb(38, 38, 38);
    border: 2px solid rgb(38, 38, 38);
    border-radius: 5px;
    font-family: "Montserrat";
    font-size: 13px;
    color: rgb(225, 196, 92);
}

#response {
    padding: 0px;
    width: 100%;
    height: 200px;
    border: 1px solid rgb(38, 38, 38);
    border-radius: 5px;
    font-family: "Open Sans";
    font-size: 14px;
}