html    {
    background-image: url("http://img.wallpaperfolder.com/f/66BB74C77D22/wip-grid-tron-style-bioderp.jpg");
    background-size: 100%;
}
body    {
    position: absolute;
    top: 15%;
    left: 40%;
    color: gold;
}
header  {
    position: absolute;
    width: 570px;
    top: -100px;
    left: -29%;
    color: gold;
    font-family: "Georgia", Times, serif;
}
#passWord   {
    font-style: italic;
}
#size{
    font-style: oblique;
    text-decoration: underline;
}
#login{
    position: absolute;
    cursor: pointer;
    left: 31%;
}