html    {
    background-color: rgb(55,65,66);
    background-size: 100%;
}
body    {
    position: absolute;
    top: 15%;
    left: 40%;
    color: black;
}
header  {
    position: absolute;
    width: 1300px;
    top: -100px;
    left: -520px;
    background-color: gold;
    font-family: "Arial", Times, serif;
}

#menu1   {
    position: absolute;
    background-color: white;
    left: -520px;
    width: 200px;
    font-size: 50%;
    font-family: "Arial", Times, serif;
}
#menu2   {
    position: absolute;
    background-color: white;
    left: -520px;
    top: 40px;
    width: 200px;
    font-size: 50%;
    font-family: "Arial", Times, serif;
}
#question1   {
    position: absolute;
    background-color: white;
    left: -250px;
    top: 40px;
    width: 800px;
    font-size: 75%;
    font-family: "Arial", Times, serif;
}
#question2   {
    position: absolute;
    background-color: white;
    left: -250px;
    top: 110px;
    width: 800px;
    font-size: 75%;
    font-family: "Arial", Times, serif;
}
#question3   {
    position: absolute;
    background-color: white;
    left: -250px;
    top: 180px;
    width: 800px;
    font-size: 75%;
    font-family: "Arial", Times, serif;
}
#question4   {
    position: absolute;
    background-color: white;
    left: -250px;
    top: 250px;
    width: 800px;
    font-size: 75%;
    font-family: "Arial", Times, serif;
}