{% extends base.html %}

{% block head %}
<meta charset="utf-8"/>
<link rel="stylesheet" type="text/css" href="/assets/stylesheets/base.css">
<meta charset="utf-8"/>
<title>Mail</title>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Droid+Sans">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans">
<link rel="stylesheet" type="text/css" href="/teamb2l/app/web/assets/stylesheets/messager.css"/>
{% end block %}

{% block content %}
<div id="taskbar">
    <header>Mail</header>
    <a href="/">
        <input id="login" type="button" value="Log out"/>
    </a>
    <a href="Teacher%20FAQs.html">
        <input id="faqs" type="button" value="FAQs"/>
    </a>
</div>
<div id="message">
    <div id="subject">
        
    </div>
    <div id="question">
    </div>
</div>
<div id="reply">
    <div id="replySubjectBar">
        <input id="send" type="button" value="Send"/>
        <select id="dropdown" name="toggle">
            <option value="question1">Question 1</option>
            <option value="question2">Question 2</option>
            <option value="question3">Question 3</option>
            <option value="question4">Question 4</option>
        </select>
        <input id="questionButton" type="button" value="Send FAQs Answer"/>
    </div>
    <div id="responseBox">
        <textarea id="response" value=""></textarea>
    </div>
</div>
{% end block %}}