{% extends base.html %}

{% block head %}
<title>Question</title>
<link rel="stylesheet" type="text/css" href="/teamb2l/app/web/assets/stylesheets/question.css"/>
{% end block %}

{% block content %}
<div id="taskbar">
    <header>Mail</header>
    <a href="/">
        <input id="login" type="button" value="Log out"/>
    </a>
    <a href="Teacher%20FAQs.html">
        <input id="faqs" type="button" value="FAQs"/>
    </a>
</div>
<div id="message">
    <div id="subject">
        {{ subject }}
    </div>
    <div id="question">
        {{ question }}
    </div>
</div>
<div id="reply">
    <div id="replySubjectBar">
        <input id="send" type="button" value="Send"/>
    </div>
    <div id="responseBox">
        <textarea id="response" value=""></textarea>
    </div>
</div>
{% end block %}}