{% extends "base.html" %}


{% block head %}
    <title>TeamB2L Login</title>
    <link rel="stylesheet" type="text/css"
      href="https://fonts.googleapis.com/css?family=Droid+Sans">
    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/login.css"/>
{% endblock %}

{% block content %}
    <h1 id="heading">
        <img src="/assets/Logo.png" alt="TeamB2L">
    </h1>
    <form action="/login" method="post" id="loginForm">
        {% for error in errors%}
            <div id="error"> {{error}}<br> </div>
        {% endfor %}
        <input type="email" class="textField" id="email" name="email" placeholder="Email">
        <br/>
        <input type="password" class="textField" id="password" name="password" placeholder="Password">
        <br/>
        <button type="submit" id="loginButton">
            Log in to B2L
        </button>
    </form>
    <form action="/register" method="get" id="loginForm">
        <button type="submit" id="loginButton">
            Register
        </button>
    </form>        
{% endblock %}