{% extends "base.html" %}


{% block head %}
    <link rel="stylesheet" type="text/css" href="/assets/stylesheets/login.css"/>
{% endblock %}

{% block content %}
    <h1 id="heading">
        <img src="/assets/Logo.png" alt="TeamB2L">
    </h1>
    <form action="/login" method="post" id="loginForm">
        <div class="error"> {{error}}<br> </div>
        <input type="email" class="textField" id="email" name="email" placeholder="Email">
        <br/>
        <input type="password" class="textField" id="password" name="password" placeholder="Password">
        <br/>
        <button type="submit" id="loginButton">
            Log in to B2L
        </button>
    </form>
    
    <form action="/test" method="get" id="testForm">
        <button type="submit" id="testButton">
            Test Page
        </button>
    </form>
{% endblock %}