{% extends "base.html" %}

{% block head %}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/assets/stylesheets/register.css">
{% endblock %}

{% block content %}
<h1>Register with TeamB2L</h1>	
	<div class="col-md-3">
		<form method="post">
			{% for error in errors%}
	            <div id="error"> {{error}}<br> </div>
	        {% endfor %}
			<div class="form-group">
				<input type="text" name="name" id="name" class="form-control" placeholder="Name"/>
			</div>
			<div class="form-group">
				<input type="email" name="email" id="email" class="form-control" placeholder="UWM Email"/>
			</div>
			<div class="form-group">
				<input type="password" name="password" id="password" class="form-control" placeholder="Password"/>
			</div>

			<div class="form-group">
				<input type="password" name="confirm" id="confirm" class="form-control" placeholder="Confirm Password"/>
			</div>
			<input type="radio" name="userType" value="1">Teacher
			<input type="radio" name="userType" value="0" checked>Student
			<input type="radio" name="userType" value="2">Teacher/Administrator<br>			
			<input type="submit" value="Register" id="register"/>
		</form>
	</div>
{% endblock %}