h1  {
	color: red;
    text-align: center;
}
body    {
    text-align: center;
}
#mine   {
    color: white;
    position: absolute;
    top: 26%;
    left: 40%
}
#evens  {
    text-align: center;
}
#odds   {
    text-align: center;
}